.progress-bar {
  display: inline-flex;
  gap: 10px;
  background-color: red;
  padding: 5px;
}

.progress-bar-item {
  position: relative;
}

.progress-bar-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.progress-bar-item p {
  position: absolute;
  bottom: -50px;
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  .progress-bar {
    flex-direction: column;
  }
  .progress-bar-item p {
    bottom: 0;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    right: -120px;
  }
}
